<header class="header_section long_section px-0">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="/">
        <span>
          qna
        </span>
      </a>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
        </div>
        <div class="signup-btn">
          <a href="">
            <span>
              more ...
            </span>
            <!-- <i class="fa fa-user" aria-hidden="true"></i> -->
          </a>
        </div>
      </div>
    </nav>
  </header>