{% extends 'base.html' %}
{% load static %}
{% block title %}{{block.super}} | home{% endblock %}
{% block content %}
<div class="hero_area">
  <!-- header section strats -->
  {% include 'includes/_header.html' %}
  <!-- end header section -->

  <!-- hero section -->
  <section class="slider_section long_section">
    <div id="customCarousel" class="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-5">
                <div class="detail-box">
                  <h1>
                    Smartest way to collect questions from your audience.
                  </h1>
                  <p>
                    Streamline your Q&A in advance. <br>Just share the link with your audience
                  </p>
                  <div class="btn-box">
                      <form method="POST">
                          {% csrf_token %}
                          <input type="text" name="{{ form.name.name}}" id="{{ form.name.id_for_label }}" class="input-field" placeholder="E.g: Chat with Osahenru" required><br><br>
                          <button type="submit" class="btn1">Generate event question link</button>
                      </form>
                  </div>
                </div>
              </div>
              <div class="col-md-7">
                <div class="img-box">
                  <img src="{% static 'images/slider-img.png' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end hero section -->
</div>

<!-- footer section -->
 {% include 'includes/_footer.html' %}
<!-- footer section -->
 {% endblock %}